
@{
    ViewBag.Title = "_employeeheader";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='@Url.Action("index", "login")'><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</div>

