
@{
    ViewBag.Title = "Index";
}



@Html.Partial("_hodheader")
@Html.Partial("_hodMenuFragment")

<div id="main" style="margin-left:15%">
    <div align="center">
        <img src="https://cdn.winsightmedia.com/platform/files/public/600x450/smiling-employee-business-woman.jpg" />
    </div>
</div>